.titleBar{
background:rgba(00,00,00, 0.7);
background-image: url('pictures/bcw-cool.png');
display: flex;
justify-content: center;
background-attachment: fixed;
background-size: cover;
height: 300px;
}

.lead{
    background: rgba(00,00,00, 0.8);
    
}
.calendar{
    /*display:flex;
    justify-content: center;
    width: 50%;*/
    background-color: rgba(31, 148, 226, 1);
    /*background-color: transparent*/
    /*background-color: deepskyblu*/

}
.img{
    height: 200px;
    width: auto;
}
.bcw{
    margin: 2%;
    font-family:fantasy;    
    text-align: right;
}