.titleBar{
background:rgba(00,00,00, 0.7);
background-image: url('pictures/nightLife.jpg');
display: flex;
justify-content: center;
background-attachment: fixed;
background-size: cover;
height: 300px;
}

.lead{
    background: rgba(00,00,00, 0.8);
    
}
.calendar{
    /*display:flex;
    justify-content: center;
    width: 50%;*/
    /*background-color: rgba(00, 00, 00, 0.2);*/
    background-color: transparent

}
.img{
    height: 200px;
    width: auto;
}