body{
    font-family: 'Roboto', sans-serif;
    background-image: url('pictures/bcw-cool.png');
    background-attachment: fixed;
    background-size: cover;
}
.titleBar{
/*background:rgba(00,00,00, 0.7);*/
/*background-image: url('pictures/bcw-cool.png');*/
display: flex;
justify-content: center;
background-attachment: fixed;
background-size: cover;
height: 300px;
}

.lead{
    background: rgba(00,00,00, 0.8);
    
}
.calendar{
    /*display:flex;
    justify-content: center;
    width: 50%;*/
    background-color: rgba(31, 148, 226, .7);
    border: 4px solid darkblue;
    border-radius: 10px;
    /*background-color: transparent*/
    /*background-color: deepskyblu*/

}
.img{
    height: 200px;
    width: auto;
}
.bcw{
    margin: 2%;
    /*font-family:fantasy;    */
    text-align: left;
    display:flex;
    flex-wrap: nowrap;

}
.bcwIcon{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin: none;
}
.bcwName{
    display: flex;
    justify-content: flex-end;
}
.eventForm{
    border: 4px solid darkblue;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    /*display: flex;*/
    /*justify-content: center;*/
    background: rgba(31, 98, 226, .4);
    /*font-family: fantasy;*/
}
.eventForm:hover{
    background-image: url('pictures/bcw-cool.png');
    background-attachment: fixed;
    background: rgba(31, 98, 226, .8)
}
.bottomRow{
    display:flex;
    justify-content: space-around;
}
.save-button{
    color: darkorange;
}
.myNav{
    font-size: 20px;
    text-shadow: 1px 0.5px black;
}
.formRow{
  /*background-image: url('pictures/bcw-cool.png');*/
    background-attachment: fixed;
    background-position: bottom;
}
.clear{
    background-color: rgba(31, 148, 226, 0);
}